[submodule "02_gaussian_splatting/submodule/3DGRUT_forked"]
	path = 02_gaussian_splatting/submodule/3DGRUT_forked
	url = https://github.com/ImanishMonis/3DGRUT_research.git
[submodule "03_sessions_alignment/submodule/Hierarchical-Localization"]
	path = 03_sessions_alignment/submodule/Hierarchical-Localization
	url = https://github.com/cvg/Hierarchical-Localization
